<% layout("layouts/boilerplate") %>
<h2>Add Account Info</h2>
<hr>
<p>Click the button below to fill out information about your business that is needed for Blue Flamingo's payment processor, <u><a href="https://stripe.com/">Stripe</a></u>. Using Stripe will allow you to receive payments straight to your bank account or debit card.</p>
<p class="text-center">For more information, visit: <u><a href="https://stripe.com/">stripe.com</a></u></p>
<div class="mb-3 text-center">
    <a class="btn btn-primary" href="<%= url %> ">Add Account Info</a>
</div>