<% layout("layouts/boilerplate") %>
<% block("header-scripts").append('<script src="https://js.stripe.com/v3/"></script>') %>
<h2>Purchase Plan</h2>
<div class="card mx-auto mb-3" style="width: 18rem;">
    <div class="card-body">
        <h3 class="card-title text-center">$40.00/month</h3>
        <ul>
            <li>500 invoices/month</li>
            <li>Email invoices directly to customers</li>
            <li>3.15% + 30¢ charge per transaction</li>
            <li>Payouts everyday</li>
            <li>Receive money in your bank account in 2 days</li>
        </ul>
    </div>
</div>
<p class="text-center">You will billed $40.00 once a month on or around today's date, but can cancel at any time</p>
<hr>
<form action="/register/purchase-plan" method="POST" id="card-payment-form">
    <label class="form-label" for="card-element">Credit or debit card information</label>
    <div class="mb-3 form-control" id="cardNumber"></div>
    <div class="mb-3 form-row">
        <div class="col-4">
            <div class="form-control" id="cardExpiry"></div>
        </div>
        <div class="col-3">
            <div class="form-control" id="cardCvc"></div>
        </div>
        <div class="col-5">
            <input class="form-control" type="number" id="postalCode" placeholder="Postal Code">
        </div>
    </div>
    <div class="mb-3 alert alert-danger" id="card-errors" role="alert" hidden></div>
    <% if(!user.plan){ %> 
        <div class="mb-3">
            <label class="form-label" for="promoCode">Promo Code</label>
            <input class="form-control" type="text" id="promoCode" name="promoCode">
            <div class="mt-3" id="promoCodeConfirmation" role="alert"></div>
        </div>
    <% } %> 
    <input type="text" id="stripePublicKey" value="<%= publicKey %>" hidden>
    <div class="mb-3 text-center">
        <button class="btn btn-primary px-5" id="card-submit-button">
            <span class="h5">Purchase Plan</span>
        </button>
    </div>
</form>
<% block("scripts").append('<script src="/js/check-promo-code.js"></script>') %>
<% block("scripts").append('<script src="/js/submit-card-payment-method.js"></script>') %>