<% layout("layouts/boilerplate") %>
<h2>Register</h2>
<form action="/register" method="POST" class="validated-form" novalidate>
    <div class="form-row">
        <div class="col-md mb-3">
            <label class="form-label" for="firstName">First Name</label>
            <input class="form-control" type="text" id="firstName" name="firstName" value="<%= data.firstName %>" placeholder="John" required>
        </div>
        <div class="col-md mb-3">
            <label class="form-label" for="lastName">Last Name</label>
            <input class="form-control" type="text" id="lastName" name="lastName" value="<%= data.lastName %>" placeholder="Smith" required>
        </div>
    </div>
    <div class="mb-3">
        <label class="form-label" for="businessName">Business Name</label>
        <input class="form-control" type="text" id="businessName" name="businessName" value="<%= data.businessName %>" placeholder="J. Smith Corp" required>
    </div>
    <div class="mb-3">
        <label class="form-label" for="email">Email</label>
        <input class="form-control" type="email" id="email" name="email" value="<%= data.email %>" placeholder="johnsmith@gmail.com" required>
    </div>
    <div class="mb-3">
        <label class="form-label" for="password">Password</label>
        <input class="form-control" type="password" id="password" name="password" required>
    </div>
    <div class="mb-3">
        <label class="form-label" for="confirmPassword">Confirm Password</label>
        <input class="form-control" type="password" id="confirmPassword" name="confirmPassword" required>
    </div>
    <p class="mb-0">Password requirements:</p>
    <ul>
        <li>Must be at least 8 characters long</li>
        <li>Must contain at least one lowercase letter</li>
        <li>Must contain at least one uppercase letter</li>
        <li>Must contain at least one number</li>
    </ul>
    <div class="mb-3">
        <button class="btn btn-primary px-5">
            <span class="h5">Continue</span>
        </button>
    </div>
</form>