<% layout("layouts/boilerplate") %>
<% block("meta-tags").append('<meta http-equiv="refresh" content="5" />') %>
<h2>Verifying Account</h2>
<hr>
<div class="text-center">
    <p>Your account information has been submitted and is being verified.</p>
    <p>This may take a few minutes to complete. The page will refresh automatically when it is done.</p>
    <span class="spinner-border spinner-border" role="status" aria-hidden="true"></span>
</div>
<hr>
<div class="text-center">
    <h5>Questions?</h5>
    <p>Email: <a href="mailto:dakota@blueflamingo.io">dakota@blueflamingo.io</a></p>
</div>