<% layout("layouts/boilerplate") %>
<% block("header-scripts").append('<script src="https://js.stripe.com/v3/"></script>') %>
<div class="row">
    <div class="col-2 col-sm-1">
        <a class="btn btn-danger align-self-start" href="/settings">
            <span class="oi oi-arrow-thick-left" title="arrow thick left" aria-hidden="true"></span>
        </a>
    </div>
    <div class="col">
        <h2 class="text-center">Edit Payment Method</h2>
    </div>
    <div class="col-2 col-sm-1"></div>
</div>
<hr>
<form action="/settings/edit-payment-method" method="POST" id="card-payment-form">
    <label class="form-label" for="card-element">Credit or debit card information</label>
    <div class="mb-3 form-control" id="cardNumber"></div>
    <div class="mb-3 form-row">
        <div class="col-4">
            <div class="form-control" id="cardExpiry"></div>
        </div>
        <div class="col-3">
            <div class="form-control" id="cardCvc"></div>
        </div>
        <div class="col-5">
            <input class="form-control" type="number" id="postalCode" placeholder="Postal Code">
        </div>
    </div>
    <div class="mb-3 alert alert-danger" id="card-errors" role="alert" hidden></div>
    <input type="text" id="stripePublicKey" value="<%= publicKey %>" hidden>
    <div class="mb-3 text-center">
        <button class="btn btn-primary px-5" id="card-submit-button">
            <span class="h5">Save Payment</span>
        </button>
    </div>
</form>
<% block("scripts").append('<script src="/js/submit-card-payment-method.js"></script>') %>