<nav class="navbar navbar-expand-lg navbar-dark bg-primary mb-3">
    <a class="navbar-brand" href="/">Blue Flamingo</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
        <div class="navbar-nav">
            <% if(currentUser){ %>
                <% if(currentUser.isStripeVerified){ %> 
                    <% if(currentUser.plan){ %>
                        <a class="nav-item nav-link" href="/invoices">Invoices</a>
                        <a class="nav-item nav-link" href="/customers">Customers</a>
                        <a class="nav-item nav-link" href="/settings">Settings</a>
                    <% } else { %> 
                        <a class="nav-item nav-link" href="/register/purchase-plan">Purchase Plan</a>
                    <% } %> 
                <% } else { %>
                    <a class="nav-item nav-link" href="/register/add-account-info">Add Account Info</a>
                <% } %> 
                <a class="nav-item nav-link" href="/logout">Logout</a>
            <% } else { %> 
                <a class="nav-item nav-link" href="/pricing-and-details">Pricing & Details</a>
                <a class="nav-item nav-link" href="/register">Register</a>
                <a class="nav-item nav-link" href="/login">Login</a>
            <% } %> 
        </div>
    </div>
</nav>