<!DOCTYPE html>
<html lang="en" style="font-family: sans-serif;">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Blue Flamingo</title>
</head>
<body style="background-color: #F6F8FA;">
    <div style="padding-right: 15px; padding-left: 15px; margin-right: auto; margin-left: auto; max-width: 1200px;">
        <p style="font-size: 2rem; text-align: center; margin-top: 0; margin-bottom: 1rem;">Welcome to the simple way to invoice</p>
        <p style="font-size: 1rem; text-align: center; margin-top: 0; margin-bottom: 1rem;">Create an invoice, send it to your customer, and get paid. It's as simple as that.</p>
        <p style="font-size: 1.5rem; text-align: center; margin-top: 0; margin-bottom: 1rem;">Ready to get started?</p>
        <div style="text-align: center; margin-top: 2rem; margin-bottom: 2rem;">
            <a style="text-decoration: none; color: #FFF; background-color: #0040F0; padding: 0.5rem 3rem; border-radius: 0.25rem; font-size: 1.25rem;" href="https://blueflamingo.io/invoices/new">Create an Invoice</a>
        </div>
        <p style="font-size: 1.5rem; text-align: center; margin-top: 0; margin-bottom: 1rem;">Questions?</p>
        <p style="font-size: 1rem; text-align: center; margin-top: 0; margin-bottom: 1rem;">Email:
            <a style="color: #000; text-decoration: none;" href="mailto:dakota@blueflamingo.io">dakota@blueflamingo.io</a>
        </p>
        <hr style="margin-top: 1.25rem; margin-bottom: 1.25rem;">
        <p style="text-align: center;">Powered by <a href="https://blueflamingo.io">Blue Flamingo</a></p>
    </div>
</body>
</html>