<% layout("layouts/boilerplate") %>
<div class="row justify-content-center mt-3">
    <div class=" col-10 col-md-6">
        <img class="img-fluid text-center" src="/imgs/logo-text.png">
        <div class="alert alert-danger" role="alert">
            <h4 class="alert-heading wrap-text"><%= err.message %> </h4>
            <p class="alert-heading wrap-text"><%= err.stack %> </p>
        </div>
    </div>
</div