<% layout("layouts/boilerplate") %>
<div class="alert alert-danger" role="alert">
    <h4 class="alert-heading wrap-text"><%= err.message %> </h4>
    <p class="wrap-text"><%= err.stack %> </p>
</div>