<% layout("layouts/boilerplate") %>
<div class="row justify-content-center mt-3">
    <div class=" col-10 col-md-6">
        <img class="img-fluid text-center" src="/imgs/logo-text.png">
    </div>
</div>
<div class="row justify-content-center">
    <div class="col-10 col-md-6">
        <div class="text-center">
            <p>Online billing geared towards small business owners</p>
            <% if(!currentUser){ %> 
                <hr> 
                <div class="mb-3">
                    <a class="btn btn-primary" href="/login">Login</a>
                </div>
                <div class="mb-3">
                    <a href="/register"><u>Don't have an account? Create one today!</u></a>
                </div>
            <% } else { %> 
                <% if(!currentUser.plan){ %> 
                    <hr> 
                    <div class="mb-3">
                        <a class="btn btn-primary" href="/register/purchase-plan">Purchase Plan</a>
                    </div>
                <% } else { %> 
                    <% if(!currentUser.isAccountComplete){ %> 
                        <a class="btn btn-primary" href="/register/complete-account">Complete Account</a>
                    <% } %> 
                <% } %> 
            <% } %> 
        </div>
    </div>
</div>