<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Blue Flamingo</title>
    <%- include("partials/includes") %>
</head>
<body>
    <div class="container">
        <h1>Blue Flamingo</h1>
        <a class="btn btn-primary" href="/payments">Go to payments</a>
    </div>
</body>
</html>