<% layout("layouts/boilerplate") %>
<h2>Pricing & Details</h2>
<div class="card mx-auto mb-3" style="width: 100%; max-width: 24rem;">
    <div class="card-body">
        <h3 class="card-title text-center">$40.00/month</h3>
        <ul>
            <li>Create 500 invoices/month</li>
            <li>Email invoices directly to customers</li>
            <li>Payouts everyday</li>
            <li>3.15% + 30¢ per card payment
                <ul>
                    <li>Receive payments in 2 days</li>
                </ul>
            </li>
            <li>1.05% per bank payment
                <ul>
                    <li>Receive payments in 2-7 days</li>
                </ul>
            </li>
        </ul>
    </div>
</div>
<div class="text-center">
    <h5>Ready to start?</h5>
    <a class="btn btn-primary mb-3" href="/register">Create an Account</a>
    <hr>
    <h5>Questions?</h5>
    <p>Email: <a href="mailto:dakota@blueflamingo.io">dakota@blueflamingo.io</a></p>
</div>
