<% layout("layouts/boilerplate") %>
<h2>Pricing & Details</h2>
<div class="card mx-auto mb-3" style="width: 18rem;">
    <div class="card-body">
        <h3 class="card-title text-center">$40.00/month</h3>
        <ul>
            <li>500 invoices/month</li>
            <li>Email invoices directly to customer</li>
            <li>2.9% + 30¢ charge per transaction</li>
            <li>Payouts everyday</li>
            <li>Receive money in your bank account in 2 business days</li>
        </ul>
    </div>
</div>
<hr>
<div class="mb-3 text-center">
    <h5>Ready to start?</h5>
    <a class="btn btn-primary" href="/register">Create an Account</a>
</div>
