@import "../../node_modules/bootstrap/scss/bootstrap.scss";

$flamingoBlue: #0040F0;

.btn-primary {
    @include button-variant($flamingoBlue, darken($flamingoBlue, 7.5%), darken($flamingoBlue, 10%), lighten($flamingoBlue,5%), lighten($flamingoBlue, 10%), darken($flamingoBlue,30%));
}
    
.btn-outline-primary {
    @include button-outline-variant($flamingoBlue, #222222, lighten($flamingoBlue,5%), $flamingoBlue);
}

body {
    background-color: #F6F8FA;
    color: $flamingoBlue;
}

a {
    color: $flamingoBlue;
}

section {
    background-color: white;
}

.wrap-text{
    overflow-wrap: break-word;
}