$primary: #0040F0;
@import "../../node_modules/bootstrap/scss/bootstrap.scss";

body {
    background-color: #F6F8FA;
}

a {
    color: black;
}

section {
    background-color: white;
}

.wrap-text{
    overflow-wrap: break-word;
}

.fixed-bottom-right{
    position: fixed;
    bottom: 30px;
    right: 20px;
}