$primary: #0040F0;
@import "../../node_modules/bootstrap/scss/bootstrap.scss";

body{
    background-color: #F6F8FA;
}

a{
    color: black;
}

section{
    background-color: white;
}

.wrap-text{
    overflow-wrap: break-word;
}

.sticky-bottom {
    position: sticky;
    bottom: 30px;
}

.navbar-dark .navbar-nav .nav-link{
    color: rgba(255,255,255,.75);
}

.pre-scrollable{
    max-height: 210px;
}