<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Blue Flamingo</title>
</head>
<body>
    <h1>Blue Flamingo</h1>
    <h2>Make Payment</h2>
    <a href="/payments">Back to Payments</a>
    <div>
        <p><%= payment.name %> - $<%= payment.amount %></p>
    </div>
</body>
</html>