<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Blue Flamingo</title>
</head>
<body>
    <h1>Blue Flamingo</h1>
    <h2>Payments</h2>
    <a href="/request-payment">Request Payment</a>
    <% for(let payment of payments){ %>
        <div>
            <p><%= payment.name %> - $<%= payment.amount %> - <%= payment.status %> </p>
            <a href="/make-payment/<%= payment._id %> ">Make Payment</a>
        </div>
    <% } %>
    <form action="/delete-all?_method=DELETE" method="POST">
        <input type="hidden" name="_method" value="DELETE">
        <button>Delete All Payments</button>
    </form>
</body>
</html>