<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Blue Flamingo</title>
</head>
<body>
    <h1>Blue Flamingo</h1>
    <h2>Request Payment</h2>
    <a href="/">Back to Payments</a>
    <form action="/request-payment" method="POST">
        <div>
            <label for="name">Name</label>
            <input type="text" id="name" name="name" placeholder="John Smith">
        </div>
        <div>
            <label for="email">Email</label>
            <input type="email" id="email" name="email" placeholder="john.smith@jsmithcorp.com">
        </div>
        <div>
            <label for="amount">Amount</label>
            <input type="number" id="amount" name="amount" placeholder="0">
        </div>
        <div>
        <div>
            <label for="notes">Notes</label>
            <textarea name="notes" id="notes" cols="30" rows="10" placeholder="Enter any details here"></textarea>
        </div>
        </div>
        <button>Send</button>
    </form>
</body>
</html>