<% layout("layouts/boilerplate") %>
<h2>Complete Account</h2>
<hr>
<p>Click the link below to fill out account information needed for Blue Flamingo's payment processor.</p>
<p>Make sure all fields are filled out in order to complete registration.</p>
<div class="mb-3 text-center">
    <a class="btn btn-primary" href="<%= url %> ">Complete Account</a>
</div>