<% layout("layouts/boilerplate") %>
<h2>Complete Account</h2>
<hr>
<p>Click the button below to fill out account information needed for Blue Flamingo's payment processor, <u><a href="https://stripe.com/">Stripe</a></u>.</p>
<p>This will allow you to receive payments straight to your bank or debit card.</p>
<div class="mb-3 text-center">
    <a class="btn btn-primary" href="<%= url %> ">Complete Account</a>
</div>
<p>Stripe is used by millions of companies, from locally owned businesses to Fortune 500s and processes hundreds of billions of dollars each year.</p>
<p class="text-center">For more information, visit: <u><a href="https://stripe.com/">stripe.com</a></u></p>