<% layout("layouts/boilerplate") %>
<% block("header-scripts").append('<script src="https://js.stripe.com/v3/"></script>') %>
<h2>Purchase Plan</h2>
<div class="card mx-auto mb-3" style="width: 18rem;">
    <div class="card-body">
        <h3 class="card-title text-center">$40.00/month</h3>
        <ul>
            <li>500 invoices/month</li>
            <li>Email invoices directly to customers</li>
            <li>2.9% + 30¢ charge per transaction</li>
            <li>Payouts everyday</li>
            <li>Receive money in your bank account in 2 days</li>
        </ul>
    </div>
</div>
<p class="text-center">You will billed $40.00 once a month on or around today's date, but can cancel at any time</p>
<hr>
<form action="/register/purchase-plan" method="POST" id="payment-form">
    <label class="form-label" for="card-element">
        Credit or debit card information
    </label>
    <div class="mb-3 form-control" id="card-element">
        <!-- Elements will create input elements here -->
    </div>
    <div class="mb-3" id="card-errors" role="alert"></div>
    <div class="mb-3 text-center">
        <button class="btn btn-primary px-5">
            <span class="h5">Purchase Plan</span>
        </button>
    </div>
</form>
<% block("scripts").append('<script src="/js/submit-payment-method.js"></script>') %>