<% layout("layouts/boilerplate") %>
<div class="row">
    <div class="col-2 col-sm-1">
        <a class="btn btn-danger align-self-start" href="/invoices">
            <span class="oi oi-arrow-thick-left" title="arrow thick left" aria-hidden="true"></span>
        </a>
    </div>
    <div class="col">
        <h2 class="text-center">Create a New Invoice</h2>
    </div>
    <div class="col-2 col-sm-1"></div>
</div>
<hr>
<form action="/invoices" method="POST" class="validated-form" novalidate>
    <div class="mb-3">
        <label class="form-label h4" for="customerId">Send To</label>
        <select class="custom-select" name="customerId" id="customerId" required>
            <option value="">Choose a Customer</option>
            <% for(let customer of customers){ %>
                <option value="<%= customer._id %>"><%= customer.name %> (<%= customer.email %>)</option>
            <% } %> 
        </select>
    </div>
    <a class="btn btn-primary btn" href="/customers/new">Create a New Customer</a>
    <hr>
    <div class="mb-3" id="line-items">
        <label class="form-label h4" for="amount">Line Items</label>
        <!-- items will be added here -->
        </div>
    </div>
    <button class="btn btn-danger btn" id="remove-item-button" type="button" hidden>Remove Item</button>
    <button class="btn btn-primary btn" id="add-item-button" type="button">Add Item</button>
    <hr>
    <div class="row justify-content-between">
        <div class="col h3">Total:</div>
        <div class="col text-right h3">
            <span>$</span>
            <span id="total"></span>
        </div>
    </div>
    <hr>
    <div class="mb-3">
        <label class="form-label" for="notes">Notes</label>
        <textarea class="form-control" name="notes" id="notes" cols="30" rows="3" placeholder="Enter any details here"></textarea>
    </div>
    <div class="mb-3 text-center">
        <button class="btn btn-primary btn-lg">Send</button>
    </div>
</form>
<% block("scripts").append('<script src="/js/line-items.js"></script>') %> 