<% layout("layouts/boilerplate") %>
<div class="row">
    <div class="col-2 col-sm-1">
        <a class="btn btn-danger align-self-start" href="/invoices">
            <span class="oi oi-arrow-thick-left" title="arrow thick left" aria-hidden="true"></span>
        </a>
    </div>
    <div class="col">
        <h2 class="text-center">Create a New Invoice</h2>
    </div>
    <div class="col-2 col-sm-1"></div>
</div>
<hr>
<form action="/invoices" method="POST" class="validated-form" novalidate>
    <div class="row justify-content-between mb-3">
        <div class="col-5">
            <label class="form-label h4" for="customerId">Send To</label>
        </div>
        <div class="col">
            <a class="btn btn-primary float-right" href="/customers/new">Create a New Customer</a>
        </div>
    </div>
    <div class="mb-3">
        <select class="custom-select" name="customerId" id="customerId" required>
            <option value="">Choose a Customer</option>
            <% for(let customer of customers){ %>
                <option value="<%= customer._id %>"><%= customer.name %> (<%= customer.email %>)</option>
            <% } %> 
        </select>
    </div>
    <hr>
    <div class="row justify-content-between mb-3">
        <div class="col">
            <label class="form-label h4" for="amount">Line Items</label>
        </div>
        <div class="col">
            <button class="btn btn-primary float-right" id="add-item-button" type="button">Add Item</button>
        </div>
    </div>
    <div class="mb-3 px-1 pt-1" id="line-items">
        <div class="ml-0 mb-3 line-item">
            <div class="form-row">
                <div class="col mb-1">
                    <input class="form-control px-2" type="text" id="descriptionInput0" name="lineItems[item0][description]" placeholder="Description" data-toggle="dropdown" autocomplete="off" required>
                    <ul class="dropdown-menu p-0 pre-scrollable" role="menu" aria-labelledby="descriptionInput0">
                        <a class="btn btn-block btn-outline-primary m-0" href="/items/new">
                            <li class="text-left" role="menuitem">&plus; Create New Item</li>
                        </a>
                        <div id="searchResultDiv0">
                            <!-- search results for descriptionInput0 will be added here -->
                        </div>
                    </ul>
                </div>
            </div>
            <div class="form-row justify-content-between">
                <div class="col-6 col-sm-3 mb-1">
                    <div class="input-group">
                        <span class="input-group-text">$</span>
                        <input class="form-control px-2" type="number" id="amountInput0" name="lineItems[item0][amount]" placeholder="0.00" step="0.01" min="0" required>
                    </div>
                </div>
                <div class="col-6 col-sm-3 col-md-2 mb-1">
                    <div class="input-group">
                        <span class="input-group-text">x</span>
                        <input class="form-control line-item-quantity px-2 text-right" type="number" id="quantityInput0" name="lineItems[item0][quantity]" value="1" min="1" required>
                    </div>
                </div>
                <div class="col-6 col-sm-3 mb-1">
                    <select class="custom-select" name="lineItems[item0][tax]" id="taxInput0" required>
                        <option value="0">No Tax</option>
                        <option value="0.07">Tax</option>
                    </select>
                </div>
                <div class="col-6 col-sm-3 col-md-4 mb-1 pb-1 text-right align-self-end h5">
                    <span>$</span>
                    <span class="line-item-amount" id="total0">0.00<span>
                </div>
            </div>
        </div>
        <!-- additional items will be added here -->
    </div>
    <button class="btn btn-danger" id="remove-item-button" type="button" hidden>Remove Last Item</button>
    <hr>
    <div class="row justify-content-between">
        <div class="col h4">Subtotal:</div>
        <div class="col text-right h4">
            <span>$</span>
            <span id="subtotal">0.00</span>
        </div>
    </div>
    <div class="row justify-content-between">
        <div class="col h4">Tax:</div>
        <div class="col text-right h4">
            <span>$</span>
            <span id="tax">0.00</span>
        </div>
    </div>
    <hr>
    <div class="row justify-content-between">
        <div class="col h3">Total:</div>
        <div class="col text-right h3">
            <span>$</span>
            <span id="total">0.00</span>
        </div>
    </div>
    <hr>
    <div class="mb-3">
        <h4 class="form-label">Payment Options</h4>
        <div class="form-check">
            <input class="form-check-input" type="checkbox" name="paymentOptions[card]" id="cardSelect" checked>
            <label class="form-check-label" for="cardSelect">
                Allow Payment with Debit/Credit Card
            </label>
          </div>
          <div class="form-check">
            <input class="form-check-input" type="checkbox" name="paymentOptions[bank]" id="bankSelect" checked>
            <label class="form-check-label" for="bankSelect">
                Allow Payment with Bank Account
            </label>
          </div>
    </div>
    <hr>
    <div class="mb-3">
        <label class="form-label h5" for="notes">Notes</label>
        <textarea class="form-control" name="notes" id="notes" cols="30" rows="3" placeholder="Enter any details here (optional)"></textarea>
    </div>
    <div class="mb-3 text-center">
        <button class="btn btn-primary btn-lg">Send</button>
    </div>
</form>
<script>
    const items = <%- JSON.stringify(items) %>;
</script>
<% block("scripts").append('<script src="/js/line-items.js"></script>') %> 