<% layout("layouts/boilerplate") %>
<div class="row">
    <div class="col-2 col-sm-1">
        <a class="btn btn-danger align-self-start" href="/invoices">
            <span class="oi oi-arrow-thick-left" title="arrow thick left" aria-hidden="true"></span>
        </a>
    </div>
    <div class="col">
        <h2 class="text-center">Create a New Invoice</h2>
    </div>
    <div class="col-2 col-sm-1"></div>
</div>
<hr>
<form action="/invoices" method="POST" class="validated-form" novalidate>
    <div class="row justify-content-between mb-3">
        <div class="col-5">
            <label class="form-label h4" for="customerId">Send To</label>
        </div>
        <div class="col">
            <a class="btn btn-primary float-right" href="/customers/new">Create a New Customer</a>
        </div>
    </div>
    <div class="mb-3">
        <select class="custom-select" name="customerId" id="customerId" required>
            <option value="">Choose a Customer</option>
            <% for(let customer of customers){ %>
                <option value="<%= customer._id %>"><%= customer.name %> (<%= customer.email %>)</option>
            <% } %> 
        </select>
    </div>
    <hr>
    <div class="row justify-content-between mb-3">
        <div class="col">
            <label class="form-label h4" for="amount">Line Items</label>
        </div>
        <div class="col">
            <button class="btn btn-primary float-right" id="add-item-button" type="button">Add Item</button>
        </div>
    </div>
    <div class="mb-3" id="line-items">
        <div class="form-row ml-0 mb-2 line-item">
            <input class="form-control col-7 col-sm-8 col-md-9 col-lg-10" type="text" id="description0" name="lineItems[item0][description]" placeholder="Description" data-toggle="dropdown" autocomplete="off" required>
            <ul class="dropdown-menu ml-2 p-0" role="menu" aria-labelledby="description0">
                <a class="btn btn-block btn-outline-primary m-0" href="/items/new">
                    <li class="text-left" role="menuitem">&plus; Add New Item</li>
                </a>
                <a class="btn btn-block btn-outline-primary m-0" href="">
                    <li class="text-left" role="menuitem">Plow Snow $40.00</li>
                </a>
                <a class="btn btn-block btn-outline-primary m-0" href="">
                    <li class="text-left" role="menuitem">Install New Front Door $250.00</li>
                </a>
            </ul>
            <div class="input-group col-5 col-sm-4 col-md-3 col-lg-2">
                <span class="input-group-text">$</span>
                <input class="form-control line-item-amount" type="number" id="amountInput0" name="lineItems[item0][amount]" placeholder="0.00" step="0.01" min="0" required>
            </div>
        </div>
        <!-- additional items will be added here -->
    </div>
    <button class="btn btn-danger" id="remove-item-button" type="button" hidden>Remove Item</button>
    <hr>
    <div class="row justify-content-between">
        <div class="col h3">Total:</div>
        <div class="col text-right h3">
            <span>$</span>
            <span id="total"></span>
        </div>
    </div>
    <hr>
    <div class="mb-3">
        <label class="form-label h5" for="notes">Notes</label>
        <textarea class="form-control" name="notes" id="notes" cols="30" rows="3" placeholder="Enter any details here (optional)"></textarea>
    </div>
    <div class="mb-3 text-center">
        <button class="btn btn-primary btn-lg">Send</button>
    </div>
</form>
<% block("scripts").append('<script src="/js/line-items.js"></script>') %> 