<% layout("layouts/boilerplate") %>
<% block("head").append('<script src="https://js.stripe.com/v3/"></script>') %>
<main class="container">
    <h1>Blue Flamingo</h1>
    <h2>Pay Invoice</h2>
    <a class="btn btn-primary" href="/invoices">Back to Invoices</a>
    <p><%= invoice._id %> - $<%= invoice.amount %></p>
    <% if(invoice.notes){ %> 
        <p><%= invoice.notes %> </p>
    <% } %> 
    <form action="" id="payment-form">
        <div id="card-element"></div>
        <button class="btn btn-primary">Pay Invoice</button>
    </form>
</main>
<script>
    const invoice = '<%- JSON.stringify(invoice) %>'
</script>
<script src="/js/pay.js" defer></script>