<% layout("layouts/boilerplate") %>
<div class="row">
    <div class="col-2 col-sm-1">
        <a class="btn btn-danger align-self-start" href="/customers">
            <span class="oi oi-arrow-thick-left" title="arrow thick left" aria-hidden="true"></span>
        </a>
    </div>
    <div class="col">
        <h2 class="text-center">Customer Details</h2>
    </div>
    <div class="col-2 col-sm-1"></div>
</div>
<hr>
<p>Name: <%= customer.name %></p>
<p>Email: <%= customer.email %></p>
<hr>
<div class="text-center">
    <a class="btn btn-primary btn-lg" href="/customers/<%= customer._id %>/edit">Edit</a>
</div>