<% layout("layouts/boilerplate") %>
<h2>Customers</h2>
<hr>
<% if(customers.length == 0){ %> 
    <p>Currently no customers. Click the button below to create a customer.</p>
<% } %>
<% for(let customer of customers){ %>
    <a href="/customers/<%= customer._id %>">
        <p><%= customer.name %> - <%= customer.email %></p>
    </a>
    <hr>
<% } %>
<a class="btn btn-primary btn-lg fixed-bottom-right" href="/customers/new">Create New Customer</a>