<% layout("layouts/boilerplate") %>
<div class="row">
    <div class="col-2 col-sm-1">
        <a class="btn btn-danger align-self-start" href="<%= returnToUrl %>">
            <span class="oi oi-arrow-thick-left" title="arrow thick left" aria-hidden="true"></span>
        </a>
    </div>
    <div class="col">
        <h2 class="text-center">Create a New Customer</h2>
    </div>
    <div class="col-2 col-sm-1"></div>
</div>
<hr>
<form action="/customers" method="POST" class="validated-form" novalidate>
    <div class="mb-3">
        <label class="form-label h4" for="name">Name</label>
        <input class="form-control" type="text" id="name" name="name" placeholder="John Smith" required>
    </div>
    <div class="mb-3">
        <label class="form-label h4" for="email">Email</label>
        <input class="form-control" type="email" id="email" name="email" placeholder="john.smith@jsmithcorp.com" required>
    </div>
    <div class="mb-3 text-center">
        <button class="btn btn-primary btn-lg">Create</button>
    </div>
</form>